<!DOCTYPE html>
<html data-th-replace="~{base::parent(~{::#content},~{::title},~{::script})}">

<head>
    <meta charset="UTF-8">
    <title>Contacts Page</title>
</head>

<body>
    <div id="content">

        <!-- Debugging Message -->
        <script>console.log("Rendering Contact Page Content...");</script>

        <!-- Side Bar (Visible only if the user is logged in) -->
        <div data-th-if="${loggedInUser}">
            <th:block data-th-replace="~{user/sidebar::side_bar}">
        </div>

        <!-- Main Content -->
        <div class="sm:pl-64 pt-20">
            <div class="grid grid-cols-12">

                <!-- Left Spacing Column -->
                <div class="col-span-3"></div>

                <!-- Contact Form Container -->
                <div class="col-span-12 md:col-span-6">
                    <div class="block p-6 bg-white border border-gray-200 rounded-lg shadow-sm hover:bg-gray-100 
                                dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
 
                        <!-- Debugging Message -->
                        <script>console.log("Contact Form Loaded.");</script>
                        
                        <th:block data-th-replace="~{message::messagebox}"></th:block>
                        
                        <h1 class="font-semibold text-xl">Contact Form</h1>
                        <p class="text-grey-500 opacity-75">Here is contact information saved in cloud</p>

                        <!-- Form Section -->
                        <form data-th-action="@{'/user/contact/update/'+${contactId}}"   method="Post"class="mt-5" data-th-object="${contactForm}" enctype="multipart/form-data">
                            <div class="mb-2">

                                <!-- Name Field -->
                                <label for="name-icon" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                                    Contact Name
                                </label>
                                <div class="relative">
                                    <div class="absolute inset-y-0 start-0 flex items-center ps-3.5 pointer-events-none">
                                        <i class="fa-solid fa-user h-4 w-4"></i>
                                    </div>
                                    <input data-th-field="*{name}"  type="text" id="name-icon" placeholder="name"
                                        class="bg-gray-50   border border-gray-300 text-gray-900 text-sm rounded-lg 
                                               focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5  
                                               dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 
                                               dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                                </div>
                                      <p class="text-red-500" data-th-if="${#fields.hasErrors('name')}"
                                         data-th-errors="*{name}">
                                         Invalid Name
                                         </p>

                                <!-- Debugging Message -->
                                <script>console.log("Name Field Loaded.");</script>

                                <!-- Email Field -->
                                <label for="email-address-icon" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                                    Contact Email
                                </label>
                                <div class="relative">
                                    <div class="absolute inset-y-0 start-0 flex items-center ps-3.5 pointer-events-none">
                                        <i class="fa-regular fa-envelope h-4 w-4"></i>
                                    </div>
                                    <input data-th-field="*{email}" type="text" id="email-address-icon" placeholder="name@gmail.com"
                                        class="bg-gray-50  border border-gray-300 text-gray-900 text-sm rounded-lg 
                                               focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5  
                                               dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 
                                               dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                                </div>
                                        <p class="text-red-500" data-th-if="${#fields.hasErrors('email')}"
                                         data-th-errors="*{email}">
                                         Invalid Email
                                         </p>
                                
                                 <!-- Number Field -->
                                <label for="number-icon" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                                    Contact Number
                                </label>
                                <div class="relative">
                                    <div class="absolute inset-y-0 start-0 flex items-center ps-3.5 pointer-events-none">
                                        <i class="fa-solid fa-phone w-4 h-4"></i>
                                    </div>
                                    <input data-th-field="*{phoneNumber}" type="text" id="number-icon" placeholder="+91XXXXXXXXXXX"
                                        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg 
                                               focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5  
                                               dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 
                                               dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                                </div>
                                
                                      <p class="text-red-500" data-th-if="${#fields.hasErrors('phoneNumber')}"
                                         data-th-errors="*{phoneNumber}">
                                         Invalid PhoneNumber
                                         </p>
                                
                                </div>
                                <!-- Debugging Message -->
                                <script>console.log("Email Field Loaded.");</script>
                                
                                <!-- TextArea -->
                                <div class="mb-5">
                                
                                <label for="address"
									class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Your
									Address</label>
								<textarea  data-th-field="*{address}" id="address" rows="4"
									class="block p-2.5  w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
									placeholder="Write your Contact Address..."></textarea>
									
									<p class="text-red-500" data-th-if="${#fields.hasErrors('address')}"
                                         data-th-errors="*{address}">
                                         Invalid Address
                                         </p>
									<label for="description"
									class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Your
									Description</label>
								<textarea data-th-field="*{description}"  id="description" rows="4"
									class="block p-2.5 mb-2 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
									placeholder="Write about yourself ..."></textarea>
									
									
							</div>
							
							<!-- Link Feild -->
							
							<div class="flex mb-2">
							
							
							<div class="w-full pr-5">
							
							<div class="relative">
                                    <div class="absolute inset-y-0 start-0 flex items-center ps-3.5 pointer-events-none">
                                       <i class="fa-solid fa-globe h-4 w-4"></i>
                                    </div>
                                    <input data-th-field="*{websiteLink}"  type="text" placeholder="http://localhost/conatctXpro.com"
                                        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg 
                                               focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5  
                                               dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 
                                               dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                                </div>
							</div>
							<div class="w-full">
							
			                   <div class="relative">
                                    <div class="absolute inset-y-0 start-0 flex items-center ps-3.5 pointer-events-none">
                                        <i class="fa-brands fa-linkedin"></i>
                                    </div>
                                    <input  data-th-field="*{linkdienLink}"type="text"  placeholder="http://linkdien.com"
                                        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg 
                                               focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5  
                                               dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 
                                               dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                                </div>
							</div>
							
							</div>
							
							
							<!-- file field -->
							
							<div class="mb-2">
								<label 
								
									class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
									for="small_size">Your Contact Image</label> 
									<input data-th-field="*{contactPicture}"
									class="block w-full mb-2 text-xs text-gray-900 border border-gray-300 rounded-lg cursor-pointer bg-gray-50 dark:text-gray-400 focus:outline-none dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400"
									id="image_file_input" type="file">
                                     <p data-th-if="${#fields.hasErrors('contactPicture')}"
                                         data-th-errors="*{contactPicture}"class ="text-red-700 px-1 py-1">Invalid File</p>
                                     <img data-th-src="*{picture}";class="max-h-52 mx-auto" src="" id="upload_image_preview" alt="">
							</div>
							
							<!-- CheckBox Feild -->
							<div class="mb-5">
								<div class="flex items-center mb-4">
									<input data-th-field="*{favouriate}"    id="default-checkbox" type="checkbox" value=""
										class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded-sm focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
									<label for="default-checkbox"
										class="ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">Is this contact is your favouriate ?
									</label>
								</div>
							</div>
                          
                          
                          <!-- Button Feild -->
							<div class="mb-1  flex justify-center">
								<button type="submit"
									class="text-white bg-blue-800 hover:bg-blue-900 focus:outline-none focus:ring-4 focus:ring-blue-300 font-medium rounded text-sm px-5 py-2.5 me-2 mb-2 dark:bg-blue-700 dark:hover:bg-blue-700 dark:focus:ring-blue-700 dark:border-blue-700">Add
									CONTACT</button>
									
									<button type="reset"
									class="text-white bg-blue-800 hover:bg-blue-900 focus:outline-none focus:ring-4 focus:ring-blue-300 font-medium rounded text-sm px-5 py-2.5 me-2 mb-2 dark:bg-blue-700 dark:hover:bg-blue-700 dark:focus:ring-blue-700 dark:border-blue-700">
									RESET</button>
							</div>

						</form>

                    </div>
                </div>

            </div>
        </div>
    </div>

    <!-- Debugging Message -->
    <script>
        console.log("Hello Contact Page");
    </script>
    <script data-th-src="@{'/JS/admin.js'}"></script>

</body>

</html>
